#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                   \
    ZMK_LAYER(                                                                 \
        name,                                                                  \
                 LT RT                                                         \
                 LM RM                                                         \
                 LB RB                                                         \
        &none &kp LGUI LH RH &smart_mouse                                      \
    )

#include <dt-bindings/zmk/ext_power.h>
#include "zmk-helpers/key-labels/36.h"
#include "base.keymap"